 <div class="header {% if site.header == "large" %}header--large{% endif %}">
     <div class="container">
         <h1 class="logo"><a href="/">{{ site.title }}</a></h1>
         <nav class="nav-collapse">
             <ul class="noList">
                 <li> <a href="https://github.com/SuperH0ng" target="_blank">GitHub</a></li>
                 <li><a href="https://www.instagram.com/superh0ng_/" target="_blank">Instagram</a></li>
                 <li><a href="https://velog.io/@superhong" target="_blank">Velog</a></li>
             </ul>
         </nav>
     </div>
 </div><!-- end .header -->
